contexttimer
decord
diffusers
accelerate
einops
ftfy
ipython
opencv-python-headless
imageio
imageio-ffmpeg
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm
tqdm
transformers
wheel
torchmetrics
tiktoken
jsonlines
tensorboardX